In [479]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
print(os.listdir("../input"))

['thidsc', 'thidscsub']

In [480]:
train=pd.read_csv("../input/thidsc/Train.csv")
test=pd.read_csv("../input/thidsc/Test.csv")
sample=pd.read_csv("../input/thidscsub/submit.csv",index_col=False)

### Understanding the Data

In [481]:
import matplotlib.pyplot as plt
import seaborn as sns

In [482]:
sample

   Inv_Id Product_Category
0       1        CLASS-784
1       2        CLASS-784
2       3        CLASS-784
3       4        CLASS-784
4       5        CLASS-784
5       6        CLASS-784

In [483]:
test.isnull().sum()

Inv_Id              0
Vendor_Code         0
GL_Code             0
Inv_Amt             0
Item_Description    0
dtype: int64

In [484]:
train['Vendor_Code'].unique().size

1253

In [485]:
test['Vendor_Code'].unique().size

798

In [486]:
train['GL_Code'].unique()

array(['GL-6100410', 'GL-2182000', 'GL-6050100', 'GL-6101400',
       'GL-6050310', 'GL-6060100', 'GL-6100500', 'GL-6121905',
       'GL-6020600'], dtype=object)

### Separating

In [487]:
y_train=train["Product_Category"]
x_train=train.iloc[:,:-1]

In [488]:
train['Product_Category'].shape

(5566,)

In [489]:
y_train.shape

(5566,)

In [490]:
x_train.shape

(5566, 5)

In [491]:
x_train.drop("Inv_Id",axis=1,inplace=True)

In [492]:
test.head()

   Inv_Id                        ...                                                           Item_Description
0   15003                        ...                          Travel and Entertainment Miscellaneous Company...
1   15008                        ...                          Final Site Clean Up Store Construction Advance...
2   15013                        ...                          Arabian American Development Co Final Site Cle...
3   15019                        ...                          Corporate Services Contingent Labor/Temp Labor...
4   15020                        ...                          Fortune National Corp Miscellaneous Company Ca...

[5 rows x 5 columns]

In [493]:
test_ID=test['Inv_Id']

In [494]:
test.drop('Inv_Id',axis=1,inplace=True)

# So our data now is :

## Modelling

### Required Imports

In [495]:
from nltk.tokenize import TweetTokenizer
tokenizer = TweetTokenizer()

In [496]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [497]:
#vectorizer = TfidfVectorizer(ngram_range=(1, 3), tokenizer=tokenizer.tokenize)
#full_text = list(x_train['Item_Description'].values) + list(test['Item_Description'].values)
#vectorizer.fit(full_text)
#train_vectorized = vectorizer.transform(x_train['Item_Description'])
#test_vectorized = vectorizer.transform(test['Item_Description'])

### So our Product Description is vectorized now

In [498]:
#Vendor_Code=pd.get_dummies(x_train['Vendor_Code'],drop_first=True)
#GL_Code=pd.get_dummies(x_train['GL_Code'],drop_first=True)
#tVendor_Code=pd.get_dummies(x_train['Vendor_Code'],drop_first=True)
#tVendor_Code1=pd.get_dummies(test['Vendor_Code'],drop_first=True)
#tGL_Code=pd.get_dummies(test['GL_Code'],drop_first=True)

In [499]:
train_objs_num = len(x_train)
dataset = pd.concat(objs=[x_train, test], axis=0)
dataset = pd.get_dummies(dataset)
x_train = dataset[:train_objs_num]
test = dataset[train_objs_num:]

In [500]:
#x_train=pd.concat([x_train,Vendor_Code,GL_Code],axis=1)
#test=pd.concat([test,tVendor_Code1,tGL_Code],axis=1)

In [501]:
x_train.shape

(5566, 9559)

In [502]:
test.shape

(2446, 9559)

In [503]:
x_train.head()

   Inv_Amt                                                                        ...                                                                         Item_Description_Yeager Wood & Marshall Inc Contingent Labor/Temp Labor 2012-Jan  Contingent Labor/Temp Labor Human Resources Corporate Services
0    83.24                                                                        ...                                                                                                                         0
1    51.18                                                                        ...                                                                                                                         0
2    79.02                                                                        ...                                                                                                                         0
3    48.50                                                                        ...                                                                                                                         0
4    63.35                                                                        ...                                                                                                                         0

[5 rows x 9559 columns]

In [504]:
x_train = x_train.astype(int)
test= test.astype(int)

In [505]:
from sklearn.model_selection import train_test_split

In [506]:
X_train, X_test, Y_train, y_test = train_test_split(x_train, y_train, test_size=0.3, random_state=2)

In [507]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(X_train,Y_train)

/opt/conda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [508]:
predictions = logmodel.predict(X_test)

In [509]:
from sklearn.metrics import accuracy_score

In [510]:
accuracy_score(y_test,predictions)

0.8964071856287426

In [511]:
x_train.shape

(5566, 9559)

In [512]:
test.shape

(2446, 9559)

In [513]:
pred=logmodel.predict(test)

In [514]:
pred

array(['CLASS-1758', 'CLASS-1522', 'CLASS-1522', ..., 'CLASS-1250',
       'CLASS-1963', 'CLASS-1964'], dtype=object)

In [515]:
pred.shape

(2446,)

In [516]:
sample.head()

   Inv_Id Product_Category
0       1        CLASS-784
1       2        CLASS-784
2       3        CLASS-784
3       4        CLASS-784
4       5        CLASS-784

In [517]:
submit = pd.DataFrame(columns=['Inv_Id','Product_Category'])

In [518]:
submit['Inv_Id'] = test_ID

In [519]:
submit['Product_Category'] = pred

In [520]:
submit

      Inv_Id Product_Category
0      15003       CLASS-1758
1      15008       CLASS-1522
2      15013       CLASS-1522
3      15019       CLASS-1376
4      15020       CLASS-1758
5      15022       CLASS-1758
6      15024       CLASS-1250
7      15026       CLASS-1322
8      15027       CLASS-1249
9      15028       CLASS-1850
10     15029       CLASS-1758
11     15031       CLASS-1274
12     15034       CLASS-1522
13     15037       CLASS-1249
14     15039       CLASS-1522
15     15043       CLASS-1758
16     15044       CLASS-1522
17     15045       CLASS-1376
18     15050       CLASS-1522
19     15054       CLASS-1758
20     15056       CLASS-1522
21     15057       CLASS-1250
22     15059       CLASS-1250
23     15063       CLASS-1376
24     15065       CLASS-1919
25     15079       CLASS-1274
26     15084       CLASS-1376
27     15088       CLASS-1250
28     15089       CLASS-1758
29     15093       CLASS-1758
...      ...              ...
2416   22928       CLASS-1758
2417   22929       CLASS-1919
2418   22931       CLASS-1322
2419   22935       CLASS-1249
2420   22937       CLASS-1250
2421   22938       CLASS-1758
2422   22944       CLASS-1919
2423   22947       CLASS-1250
2424   22953       CLASS-1758
2425   22958       CLASS-1963
2426   22962       CLASS-1758
2427   22964       CLASS-1274
2428   22967       CLASS-1274
2429   22970       CLASS-1758
2430   22973       CLASS-1250
2431   22975       CLASS-1758
2432   22977       CLASS-1828
2433   22978       CLASS-1758
2434   22981       CLASS-1274
2435   22983       CLASS-1758
2436   22988       CLASS-1522
2437   22991       CLASS-1758
2438   22992       CLASS-1758
2439   22993       CLASS-1250
2440   22994       CLASS-1758
2441   22995       CLASS-1522
2442   23002       CLASS-1758
2443   23006       CLASS-1250
2444   23009       CLASS-1963
2445   23011       CLASS-1964

[2446 rows x 2 columns]

In [521]:
submit.to_csv("submission.csv",index=False,header=True)